{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DailyFood</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="profile-container">
        <h3>Password reset sent</h3>

        <p>we've emailed you instructions for setting your Password. You should receive them shorthly.
        </p>
        <br>
        <a href="{% url 'login' %}" class="btn-primary clickbu">OK</a>
        
   </div>

</body>
</html>