{% extends 'admin/base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'daily_total' %}"><i style='font-size:15px' class='fas fa-angle-left'></i> Back</a>
<br>
<form class="formS" method="GET">
  <div class="search">
    <input type="text" name="query" id="search-input" placeholder="Search products...">
    <button class="buttonS" type="submit">Search</button>
  </div>
  <div  class="sug" id="search-suggestions"></div>
</form>
<a class="btn btn-sm btn-info"  href="{% url 'evtproduct_create' %}">create evtproducts</a>
<hr>
<h2>EvtProduct List</h2>
<table class=" table table-sm">
  <tr>
  <td><ul>
    {% for evtproduct in page_obj %}
    <a class="btn btn-sm btn-danger"  href="{% url 'evtproduct_delete' evtproduct.id %}">delete</a>
      <li><a href="{% url 'evtproduct_detail' evtproduct.pk %}">{{ evtproduct.name }}</a></li>
    {% endfor %}
  </ul></td>
  </tr>
  </table>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">&laquo; previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next &raquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
